<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="index.css">
            
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="index.css">
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!-- Popper JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            
                <title>Our first Page</title>
            </head>
            <body>
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <div class="col-2">
                            <a class="navbar-brand">
                                <img src="images/logo_head.png" alt="#" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <h2>VITB</h2>
                            <h4>Vishnu Institute Of Techology ,Bhimavaram</h4>
                        </div>
                        <div class="col-sm-2">
                            <h6>info:Lorem ipsum dolor sit amet.</h6>
                        </div>
                    </div>
                </nav><hr>
                <div class="container">
                    <ul class="nav justify-content-center nav-tabs">
                        <li class="nav-items">
                            <a class="nav-link" href="main.html"><img src="images/home_logo" width="50px">Home</a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link active" href="about.html">About us</a>
                        </li>
                    </ul>
                </div><br>
        <p>This website is to make easy to know the details of all the students,faculty members and the time table,all the materials to study of every IT student.</p>
    </body>
</html>