<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="index.css">
            
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="index.css">
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!-- Popper JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            
                <title>Our first Page</title>
            </head>
            <body>
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <div class="col-1">
                            <a class="navbar-brand">
                                <img src="../images/logo_head.png" alt="#" width="70px" height="70px">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <h2>VITB</h2>
                            <h4>Vishnu Institute Of Techology ,Bhimavaram</h4>
                        </div>
                    </div>
                </nav><hr>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 19px;
}
th {
    text-align: left;
}
</style>
        </head>
<body>
<marquee><h2>Faculty and their Subjects<h2></marquee><hr>
    <center>
<table style="width:50%">
<tr>
<th style="font-size:25;">SUBJECT</th>
<th style="font-size:25;">FACULTY</th>
</tr>
<tr>
<td>OPERATING SYSTEM</td>
<td>Mr.B.REVANTH</td>
</tr>
<tr>
<td>DATABASE MANAGEMENT SYSTEM</td>
<td>Mr.M V SUBBA RAO</td>
</tr>
<tr>
<td>ADVANCED JAVA PROGRAMING</td>
<td>Mr.K.SUDHAKAR</td>
</tr>
<tr>
<td>HUMAN COMPUTER INTERACTIONS</td>
<td>Mr.M.SANDEEP KUMAR</td>
</tr>
<tr>
<td>UNIX AND SHELL PROGRAMING</td>
<td>Mr.D UDAY KUMAR</td>
</tr>
<tr>
<td>PROFFESIONAL EtdICS AND HUMAN VALUES</td>
<td>Mrs.MD FAHREEN</td>
</tr>
<tr>
<td>UNIX AND OS LAB</td>
<td>MR.D UDAY KUMAR/Mr.B.REVANTH</td>
</tr>
<tr>
<td>DBMS LAB</td>
<td>Mr.M V SUBBA RAO</td>
</tr>
<tr>
<td>AJ LAB</td>
<td>Mr.K SUDHAKAR</td>
</tr>
<tr>
<td>CRT</td>
<td>Mr. SANDEEP KUMAR</td>
</tr>
</center>
</table>
</body>
</html>