<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Material subjects</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="col-2">
                <a class="navbar-brand">
                    <img src="../images/logo_head.png" alt="#" width="100px" height="100px">
                </a>
            </div>
            <div class="col-sm-8">
                <h2>VITB</h2>
                <h4>Vishnu Institute Of Techology ,Bhimavaram</h4>
            </div>
        </div>
    </nav><hr>
    <div class="container">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-items">
                <a class="nav-link active" href="#">Subjects</a>
            </li>
        </ul>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">AJ
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/Unit-1 AJP.pdf">AJ Unit-1</a></li>
                        <li><a href="../resources/Unit-2-AJP.pdf">AJ Unit-2</a></li>
                        <li><a href="../resources/Unit -3-AJP.pdf">AJ Unit-3</a></li>
                        <li><a href="../resources/Unit-4-AJP.pdf">AJ Unit-4</a></li>
                        <li><a href="../resources/Unit-5-AJP.pdf">AJ unit-5</a></li>
                        <li><a href="../resources/Unit-6-AJP.pdf">AJ Unit-6</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class=" btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">UNIX <span class="carter"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/unix unit1.pdf">Unix unit-1</a></li>
                        <li><a href="../resources/unix unit2 doc.pdf"> Unix Unit-2 pdf</a></li>
                        <li><a href="../resources/unix unit2 ppt.pdf">Unix Unit-2 ppt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">OS <span class="carter"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/os unit-1 pdf.pdf">Os Unit-1 pdf</a></li>
                        <li><a href="../resources/os unit-1 ppt.pdf">Os  Unit-1 ppt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">DBMS <span carter></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/DBMS-UNIT-one.pdf">DBMS unit-1 </a></li>
                        <li><a href="../resources/dbms-unit-2-new.pdf">DBMS unit-2 </a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">HCI <span class="carter"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="../resources/#">HCI2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>