<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="index.css">
            
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="index.css">
                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!-- Popper JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            
                <title>Our first Page</title>
            </head>
            <body>
                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <div class="col-1">
                            <a class="navbar-brand">
                                <img src="../images/logo_head.png" alt="#" width="70px" height="70px">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <h2>VITB</h2>
                            <h4>Vishnu Institute Of Techology ,Bhimavaram</h4>
                        </div>
                        <div class="col-sm-2">
                            <h6>info:Lorem ipsum dolor sit amet.</h6>
                        </div>
                    </div>
                </nav><hr>            
<head>
<style>
table, th, td{
border:3px solid black;
border-collapse:collapse;
}
th, td{
padding:15px;
}
th {
text-align:left;
}
</style>
</head>
<body>
<marquee><h2>Student details of 3rd IT</h2></marquee><hr>
<center>
<table>
<tr>
<th style="font-size:25px">ID</th>
<th style="font-size:25px">NAME</th>
<th style="font-size:25px">MAIL</th>
</tr>
<tr>
<td>16PA1A1201</td>
<td>A MANOJ KUMAR</td>
<td>16PA1A1201@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1202</td>
<td>A GANESH</td>
<td>16PA1A1202@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1203</td>
<td>A SRAVANI</td>
<td>16PA1A1203@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1204</td>
<td>A NIKITHA</td>
<td>16PA1A1204@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1205</td>
<td>B JHOTHIKA</td>
<td>16PA1A1205@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1206</td>
<td>B LAYA</td>
<td>16PA1A1206@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1207</td>
<td>B RAM KRISHNA</td>
<td>16PA1A1207@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1208</td>
<td>B BALA SAI</td>
<td>16PA1A1208@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1209</td>
<td>B GEETHIKA</td>
<td>16PA1A1209@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1210</td>
<td>B SRIKANTH</td>
<td>16PA1A1210@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1211</td>
<td>B PREETHI</td>
<td>16PA1A1211@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1212</td>
<td>CH N V S MURTHY</td>
<td>16PA1A1212@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1213</td>
<td>CH GEETHA VENKAT</td>
<td>16PA1A1213@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1214</td>
<td>CH SRAVAN KUMAR</td>
<td>16PA1A1214@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1215</td>
<td>CH PHANI</td>
<td>16PA1A1215@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1216</td>
<td>D PRIYANKA</td>
<td>16PA1A1216@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1217</td>
<td>G HARSHITHA</td>
<td>16PA1A1217@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1218</td>
<td>G SUDEESHNA</td>
<td>16PA1A1218@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1219</td>
<td>G SAI BABU</td>
<td>16PA1A1219@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1220</td>
<td>G MOHAN</td>
<td>16PA1A1220@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1221</td>
<td>G PRASHANTHI</td>
<td>16PA1A1221@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1222</td>
<td>G SRI LEKHA</td>
<td>16PA1A1222@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1223</td>
<td>I A C VARMA</td>
<td>16PA1A1223@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1224</td>
<td>I RAVI VARMA</td>
<td>16PA1A1224@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1225</td>
<td>I SAI PAVAN</td>
<td>16PA1A1225@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1226</td>
<td>J HEMANTH VARMA</td>
<td>16PA1A1226@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1227</td>
<td>K DIVYA</td>
<td>16PA1A1227@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1228</td>
<td>K PRANAY</td>
<td>16PA1A1228@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1229</td>
<td>K H S RAMESH</td>
<td>16PA1A1229@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1230</td>
<td>K RAVI TEJA</td>
<td>16PA1A1201@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1231</td>
<td>K SIREESHA</td>
<td>16PA1A1231@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1232</td>
<td>K GIRIJA DEVI</td>
<td>16PA1A1232@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1233</td>
<td>K N SAIDULU</td>
<td>16PA1A1233@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1234</td>
<td>K KARTHIKA SRAVANI</td>
<td>16PA1A1234@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1235</td>
<td>M CHANDINI</td>
<td>16PA1A1235@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1236</td>
<td>M AMRUTHA</td>
<td>16PA1A1236@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1237</td>
<td>M RAHUL</td>
<td>16PA1A1237@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1238</td>
<td>M SOWJANYA</td>
<td>16PA1A1238@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1239</td>
<td>M SRINADH</td>
<td>16PA1A1239@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1240</td>
<td>N SAI SUJITH</td>
<td>16PA1A1240@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1241</td>
<td>N DANA LAKSHMI</td>
<td>16PA1A1241@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1242</td>
<td>O CHANDINI</td>
<td>16PA1A1242@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1243</td>
<td>P NANDINI</td>
<td>16PA1A1243@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1244</td>
<td>P SAI RAM</td>
<td>16PA1A1244@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1245</td>
<td>P MONICA</td>
<td>16PA1A1245@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1246</td>
<td>SIREESHA</td>
<td>16PA1A1246@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1247</td>
<td>S UDAY</td>
<td>16PA1A1247@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1248</td>
<td>S SANTHOSH</td>
<td>16PA1A1248@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1249</td>
<td>S SUDHAKAR</td>
<td>16PA1A1249@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1250</td>
<td>T MADHUSUDAN SRI KRISHNA</td>
<td>16PA1A1250@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1251</td>
<td>U GAUTAM </td>
<td>16PA1A1251@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1252</td>
<td>V SARIKA</td>
<td>16PA1A1252@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1253</td>
<td>V SAI KIRAN</td>
<td>16PA1A1253@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1254</td>
<td>V BHANU PRAKASH</td>
<td>16PA1A1254@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1255</td>
<td>V MANI DEEPIKA</td>
<td>16PA1A1255@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1256</td>
<td>V RAMYA</td>
<td>16PA1A1256@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1257</td>
<td>V SOWMYA</td>
<td>16PA1A12057@VISHNU.EDU.IN</td>
</tr>
<tr>
<td>16PA1A1258</td>
<td>V NAVYA</td>
<td>16PA1A1258@VISHNU.EDU.IN</td>
</tr>

</table></center>
</body>
</html>