<html>
<head>
<style>
table,th,td{
border:1px solid black;
border-collapse: collapse;
}
th,td{
padding:20px;
}
th{
text-align:left;
}
</style>
</head>
<body><center>
<img src="../images/logo_head.png" width="100"></center>
<hr>
<marquee><h2>TimeTable of 3rd IT</h2></marquee><hr>
<div>
<table>
<tr>
<th>Day of week</th>
<th>Period 1<br>09:00AM<br>09:50AM</th>
<th>Period 2<br>09:50AM<br>10:40AM</th>
<th>Break<br>10:40AM<br>11:00AM</th>
<th>Period 3<br>11:00AM<br>11:50AM</th>
<th>Period 4<br>11:50AM<br>11:40PM</th>
<th>Lunch Break<br>12:40PM<br>01:40PM</th>
<th>Period 5<br>01:40PM<br>02:30PM</th>
<th>Period 6<br>02:30PM<br>03:20PM</th>
<th>Period 7<br>03:20PM<br>04:10PM</th>
<th>Period 8<br>04:10PM<br>05:00PM</th>
</tr>
<tr>
<td>Mon</td>
<td>HCI</td>
<td>DBMS</td>
<td rowspan="6">BREAK</td>
<td>UNIX</td>
<td>AJ</td>
<td rowspan="6">LUNCH BREAK</td>
<td>OS</td>
<td>PE</td>
<td colspan="2"><center>CRT</center></td>
</tr>
<tr>
<td>Tues</td>
<td>DBMS</td>
<td>AJ/DBMS LAB</td>
<td colspan="2"><center>AJ/DBMS LAB</center></td>
<td>HCI</td>
<td>OS</td>
<td>AJ</td>
<td>PE</td>
</tr>
<tr>
<td>Wed</td>
<td>OS</td>
<td>DBMS</td>
<td>HCI</td>
<td>UNIX</td>
<td>AJ</td>
<td colspan="3"><center>OS & UNIX LAB</center></td>
</tr>
<tr>
<td>Thurs</td>
<td>HCI</td>
<td>OS</td>
<td>PE</td>
<td>AJ</td>
<td>UNIX</td>
<td colspan="3"><center>DBMS/AJ LAB</center></td>
</tr>
<tr>
<td>Fri</td>
<td>AJ</td>
<td>HCI</td>
<td colspan="2"><center>DBMS</center></td>
<td>UNIX</td>
<td>OS</td>
<td colspan="2"><center>CRT</center></td>
</tr>
<tr>
<td>Sat</td>
<td colspan="2"><center>UNIX</center></td>
<td>AJ</td>
<td>OS</td>
<td colspan="2"><center>CRT</center></td>
<td>HCI</td>
<td>DBMS</td>
</tr>
</table>
</div>
<br>
<table>
<tr>
<th>SUBJECT CODE</th>
<th>SUBJECT NAME</th>
</tr>
<tr>
<td>OS</td>
<td>OPERATING SYSTEM</td>
</tr>
<tr>
<td>AJ</td>
<td>ADVANCED JAVA</td>
</tr>
<tr>
<td>HCI</td>
<td>HUMAN COMPUTER INTERACTION</td>
</tr>
<tr>
<td>DBMS</td>
<td>DATABASE MANAGEMENT SYSTEM</td>
</tr>
<tr>
<td>UNIX</td>
<td>UNIX & SHELL PROGRAMMING</td>
</tr>
<tr>
<td>PE</td>
<td>PROFESSIONAL ETHICS</td>
</tr>
</table>
</body>
</html>